* {
    margin: 0;
    padding: 0;
}

.form-email {
    position: absolute;
    background-color: #2f2f2f;
    border-radius: 8px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.chat {
    width: 100vw;
    height: 100vh;
}

.chat__header {
    display: flex;
    align-items: center;
    background-color: #2f2f2f;
    color: white;
    height: 48px;
    padding: 16px;
    font-size: 22px;
}

.messages {
    background-color: #254F55;
    width: 100%;
    height: calc(100vh - 84px);
    min-height: calc(100vh - 84px);
    padding: 0;
    overflow: auto;
}

.messages-container {
    padding: 0;
    list-style-type: none;
    margin: 0;
    padding: 0 16px;

}

.messages__date {
    position: sticky;
    top: 8px;
    margin: 16px 0;
    text-align: center;
}

.message {
    background-color: #2f2f2f;
    color: white;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    display: table;
    margin: 8px 0;
}

.message__from {
    font-weight: 500;
}

.message__hour-container {
    text-align: right;
}

.message__hour {
    color: gray;
}

.messages__date span {
    color: white;
    background-color: rgba(128, 128, 128, 1);
    padding: 0 8px;
    border-radius: 4px;
}

.chat__input {
    background-color: #2f2f2f;
    width: 100%;
    height: 36px;
    display: flex;
}

.chat__input-new-message {
    height: 100%;
    color: white;
    background-color: transparent;
    border: 0;
    padding: 0 16px;
    caret-color: #46BDF6;
    width: 100%;
}

.chat__btn-send-message {
    background-color: transparent;
    width: 36px;
    height: 100%;
    border: 0;
    padding: 0 8px;
    box-sizing: content-box;
    text-align: center;
}

.chat__btn-send-message svg{
    width: 75%;
    height: 75%;
}

#btn-scroll-bottom {
    display: none;
    border: 0;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background-color: #2f2f2f;
    position: fixed;
    z-index: 2;
    right: 44px;
    bottom: 64px;
}

#btn-scroll-bottom svg {
    fill: white;
    width: 50%;
    height: 50%;
}